html,
body {
    height: 100%;
}
body { position:absolute; top:0; bottom:0; right:0; left:0; }

#footer{
    margin-bottom: 15px;
    border-top-style: solid;
    padding-top: 3px;

}
#dispatch{
    height: 100%;
}

#dispatch_pile-submit{
    align-self: flex-end;
    margin-left: auto;
}

#dispatch_pile-success {
    margin-bottom: 10px;
}